
* {
	margin: 0;
}

html, body {
  height: 100%;
  overflow-x: hidden;
}

body {
  background-color: rgb(245, 233, 220);
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
}

footer {
  padding-left: 1%;
  margin: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

/* ============================================= */

h1 {
  width:100%;
  display: flex;
  justify-content: left;
  margin-left: 1%;
  font-family:'Merienda';
  font-size: 56px;
  font-weight: bold;
}

h2 {
  width:100%;
  display: flex;
  justify-content: left;
  margin-left: 1%;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 24;
  font-weight:lighter;
}

/* ============================================= */

#block {
  width: 100%;
  font-size: 24px;
  border: none;
}

#addrow {
  width: 100%;
  background: rgb(73,73,73);
  padding: 3px 0 3px 1% ;
  display: flex;
  flex-direction: row;
}

#NE {
  border: none;
  outline:none;
  background: rgb(73,73,73);
  color: rgb(245, 233, 220);
  font-size: 24px;
}

#NE:focus{
  color: rgb(233, 95, 85);
}

.buttonNE {
  border: none;
  background: rgb(73,73,73);
  color: rgb(245, 233, 220);
  transition: color linear .1s;
  font-size: 24px;
}

.buttonNE:hover {
  color: rgb(233, 95, 85);
}

#todolist {
  margin: 10px auto;
  padding: 10px;
  width: 75%;
  display: flex;

  border-radius: 15px;
  background: rgb(73,73,73);
  color: rgb(245, 233, 220);

  overflow-y: scroll;
  max-height: 360px;
  overflow-x: hidden;
}

.doshka {
  transition: color linear .1s;
  max-width: 100px;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100px;
}

.doshka:hover {
  color: rgb(233, 95, 85);
}

.doshka input[type="checkbox"] {
  accent-color: rgb(233, 95, 85);
}

#NoneDo {
  color: rgb(233, 95, 85);
  display: flex;
  justify-content: center;
  visibility: hidden;
}

.list_div {
  border: none;
  border-radius: 15px;
  background: rgb(73,73,73);
  margin: 10px 1% 0 1%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

/* ============================================= */

table, th, td {
    border: 1px solid;
  }
  table {
    width: 100%;
  }

  a {
    color: rgb(233, 95, 85);
  }