
* {
	margin: 0;
}

html, body {
  height: 100%;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent; 
}

body {
  scrollbar-width: none; 
}

body {
  background-color: rgb(245, 233, 220);
  font-family: Arial, sans-serif;
}

footer {
  padding-left: 1%;
  margin: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

/* ============================================= */

h1 {
  width: 100%;
  font-family:'Merienda';
  font-size: 56px;
  font-weight: bold;
}

.part {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 70%;
  font-family:'Merienda';
  font-size: 56px;
  font-weight: bold;
  width: 100%;
  background-color: rgb(73,73,73);
  color: rgb(233, 95, 85);
}

h2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 24px;
  font-weight: lighter;
  border-bottom: 2px solid black;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 5px;
}

h3 {
  margin-left: 1%;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 24px;
  font-weight:lighter;
}

/* ============================================= */

#tasks {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#stop {
  right: 10px;
  width: 50px;
  height: 50px;
  background-color: rgb(73,73,73);
  color: rgb(233, 95, 85);
}

#answer-z2-t2 {
  height: 36px;
}

.element_task {
  width: 40%;
}

/* ============================================= */

#answer-t3-page5 {
  width: 100%;
}